@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-hover: #2727;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif ;

}

*{
  margin: 0;
  padding: 0;

}

.header{
  color: #32cd32;
  font-family: var(--fonte-primaria);
  font-weight: 400;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.rodape {
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  padding: 1.2rem;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

.tecla {
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100% );
  background-color: var(--cor-secundaria);
  border-radius: 5px;
  height: 50px;
  font-size: 1rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding: 15px;
  margin: 15px;
  margin-left: 130px;
  font-size: 15px;
}

.ranking {
  color: var(--cor-secundaria);
  font-family: var(--fonte-primaria);
  font-size: 1rem;
  font-weight: 400;
}

.ranking__list {
  color: var(--cor-secundaria);
  font-family: var(--fonte-primaria);
  font-size: 1rem;
  font-weight: 400;
}


